/* Font Families */
$font-family-sans-serif: sans-serif; /* Sans-serif font family */

/* Font Sizes and Text Colors */
$font-size-turkey: 1.2em; /* Font size for Turkey */
$text-color-red: red; /* Red text color */
$font-size-cvk-hotel: 18px; /* Font size for CVK Hotel */
$text-color-cvk-hotel: rgb(0, 0, 0); /* Black text color */
$font-size-custom: 24px; /* Custom font size */
$margin-top-custom: 40px; /* Custom margin-top */
$font-size-start: 18px; /* Font size for "start" */
$font-size-small: 12px; /* Small font size */
$font-size-medium: 18px; /* Medium font size */
$text-align-medium: justify; /* Text alignment for "medium" */
$font-weight-medium: 100; /* Font weight for "medium" */

/* Transitions and Background Colors */
$link-transition-duration: 0.3s; /* Link transition duration */
$content-background-color: rgba(250, 255, 242, 0.4); /* Background color for content */
$tile-bg-color: rgb(255, 255, 255); /* Background color for tile */
$tile-first-color-bg: hsl(120, 25%, 65%); /* Background color for the first tile */
