/* Input Styles */
$inputWidth: 100%; /* Width of the input */
$inputPadding: 10px; /* Padding for the input */
$inputMarginBottom: 10px; /* Margin at the bottom of the input */
$inputMarginRight: 10px; /* Margin on the right side of the input */
$inputBorderColor: #ccc; /* Border color for the input */
$inputBorderRadius: 5px; /* Border radius for the input */

/* Email Input Styles */
$inputEmailBgColor: #1e2e16; /* Background color for the email input */
$inputEmailTextColor: rgb(255, 255, 255); /* Text color for the email input */
$inputEmailPadding: 10px 20px; /* Padding for the email input */
$inputEmailCursor: pointer; /* Cursor style for the email input */

/* Box and Form Container Styles */
$tile-first-color-margin-top: -0px; /* Margin-top for the first color tile */
$box-background-color: rgb(255, 255, 255); /* Background color for the box */
$box-border-color: #94ebc0; /* Border color for the box */
$box-text-margin-top: -3px; /* Margin-top for the text inside the box */
$form-container-bg-color: rgb(203, 235, 233); /* Background color for the form container */
$subscribe-font-size: x-large; /* Font size for the subscribe text */
$subscribe-font-weight: 800; /* Font weight for the subscribe text */
