///variables

$tile-width: 150px;
$tile-height: 120px;
$tile-background-color: rgb(255, 255, 255);
$tile-margin: 5px;
$tile-border-color: rgba(155, 211, 187, 1);
$tile-box-shadow-color: rgba(52, 152, 219, 0.5);
$tile-border-radius: 10px;
$tile-transition-duration: 0.3s;
$tile-padding-left: 10px;
$tile-first-color-background: hsl(120, 25%, 65%);
$tile-text-font-size: smaller;
$tile-text-margin-top: 35%;
$tile-text-margin-left: 10%;
$tile-first-color-h1-margin-top: -0px;
$link-text-color: rgb(0, 0, 0);
$header-background-color: rgb(255, 255, 255);
$header-text-color: rgb(0, 0, 0);
$header-box-shadow-color: rgba(119, 116, 116, 0.1);
$menu-margin-left: 10px;
$content-background-color: rgba(250, 255, 242, 0.4);
$link-transition-duration: 0.3s;
$menu-image-max-height: 40px;
$menu-image-max-width: 100%;
$menu-image-margin: 0 auto;
$menu-link-padding: 10px;
$menu-link-color: $link-text-color;
$menu-right-image-height: 35px;
$center-align-items: center;
$tile-width: 150px;
$tile-height: 120px;
$tile-bg-color: rgb(255, 255, 255);
$tile-margin: 5px;
$tile-border-color: rgba(155, 211, 187, 1);
$tile-box-shadow-color: rgba(52, 152, 219, 0.5);
$tile-border-radius: 10px;
$tile-transition-duration: 0.3s;
$tile-padding-left: 10px;
$tile-first-color-bg: hsl(120, 25%, 65%);
$tile-text-font-size: smaller;
$tile-text-margin-top: 35%;
$tile-text-margin-left: 10%;
$tile-first-color-h1-margin-top: -0px;
$font-family-sans-serif: sans-serif;

$font-size-turkey: 1.2em;
$text-color-turkey: red;

$font-size-cvk-hotel: 18px;
$text-color-cvk-hotel: rgb(0, 0, 0);

$font-size-custom: 24px;
$margin-top-custom: 40px;

$font-size-start: 18px;
$text-color-start: red;

$font-size-small: 12px;
$font-size-medium: 18px;
$text-align-medium: justify;
$font-weight-medium: 100;

$inputWidth: 100%;
$inputPadding: 10px;
$inputMarginBottom: 10px;
$inputMarginRight: 10px;
$inputBorderColor: #ccc;
$inputBorderRadius: 5px;

$inputEmailBgColor: #1e2e16;
$inputEmailTextColor: rgb(255, 255, 255);
$inputEmailPadding: 10px 20px;
$inputEmailCursor: pointer;

$tile-first-color-margin-top: -0px;
$box-background-color: rgb(255, 255, 255);
$box-border-color: #94ebc0;
$box-text-margin-top: -3px;
$form-container-bg-color: rgb(203, 235, 233);
$subscribe-font-size: x-large;
$subscribe-font-weight: 800;

$header-image-margin-top: 50px;
$header-image-height: 400px;
$header-image-width: 1510px;
$text-color: rgb(0, 0, 0);
$margin-left-mailbox: 400px;
$font-size-pagination: medium;
$margin-top-pagination: -35px;
$margin-left-flag-image: 800px;

$footer-logo-width: 100px;
$font-size-xxx-large: xxx-large;
$more-plus-color: $text-color-turkey;
$column-container-count: 2;
$column-container-gap: 20px;

$font-size-pagination: medium;
$margin-top-pagination: -35px;
$margin-left-flag-image: 800px;

